<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
        <title>Revolto Software</title>
    </head>
    <body>
        <header>
            <div class="containerHeader">
                <div class="logo">
                    <img width=90% src="../static/img/RevoltoBanner.png" alt="404 image not found" height=100%>
                </div>
                <div class="navigationBar">
                    <div class="navigationBarText">
                        <p>
                            <a href="{{url_for('homepage')}}" style="color: inherit;">Home</a>
                            <a href="{{url_for('blog')}}" style="color: inherit;">Blog</a>
                            <a href="{{url_for('sobre')}}" style="color: inherit;">Sobre</a>
                            <a href="{{url_for('jogos')}}" style="color: inherit;">Jogos</a>
                            <a href="{{url_for('contato')}}" style="color: inherit;">Contato</a>
                        </p>
                    </div>
                </div>
            </div>
        </header>
        
        <main>
            <div class="containerMain">
                <div class="containerContent">
                    <div class="imgContent">
                        <img src="../static/img/oniriko.png" alt="404 image not found" height="60%">
                    </div>
                    <div class="contentTitle">
                        Revolto's Wet Dream
                    </div>
                    <div class="contentText">
                        <p>Oníriko ganha prêmio de melhor jogo erótico nacional.</p>
                        <p>69/04/20</p>
                        <p><a href="{{url_for('oniriko')}}">Leia mais</a></p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>