<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}"> -->
        <link rel="stylesheet" href="../static/styles/homepage.css"> 
        <title>Revolto Software</title>
    </head>
    <body>
        <header>
            <div class="containerHeader">
                <div class="logo">
                    <img src="../static/img/RevoltoBanner.png" alt="Logo da Revolto">
                </div>
                <div class="navigationBar">
                    <nav class="navigationBarText">
                        <ul>
                            <li><a href="./homepage.html">Home</a></li>
                            <li><a href="./blog.html">Blog</a></li>
                            <li><a href="./sobre.html">Sobre</a></li>
                            <li><a href="./jogos.html">Jogos</a></li>
                            <li><a href="./contato.html">Contato</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        
        <main>
            <div class="containerMain">
                <div class="containerContent">
                    <div class="imgContent">
                        <img src="../static/img/oniriko.png" alt="Print do jogo Oniroko da Revolto" height="60%">
                    </div>
                    <div class="contentTitle">
                        Revolto's Wet Dream
                    </div>
                    <div class="contentText">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Leia mais</p>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>