<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/homepage.css') }}">
        <title>Revolto Software</title>
    </head>
    <body>
        <header>
            <div class="containerHeader">
                <div class="banner">BANNER
                    <!-- <img width=100% src="./img/RevoltoBanner.png" alt="404 image not found" height="80vh"> -->
                </div>
                <div class="logo">LOGO</div>
                <div class="navigationBar">HOME CUZINHO DE FRANGO</div>
            </div>
        </header>
        
        <main>
            <div class="containerMain">
                <div class="relatedPosts">POSTS RELACIONADOS</div>
                <div class="content">CONTEÚDO</div>
                <div class="ad1">ANÚNCIO (NÓIS PRECISA DE DINHEIRO NÉ CARAIO)</div>
            </div>
        </main>

        <footer>
            <div class="containerFooter">
                <div class="links">SEI LÁ FIQUEI SEM CRIATIVIDADE</div>
            </div>
        </footer>
    </body>
</html>