<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Revolto Software</title>
</head>
<body>
    <main class="bg-zinc-800">
		<div class="flex justify-center h-screen">
			<div class="hidden bg-cover lg:block lg:w-2/3" style="background-image: url(https://images.unsplash.com/photo-1616763355603-9755a640a287?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)">
				<div class="flex items-center h-full px-20 bg-gray-900 bg-opacity-40">
					<div>
						<h2 class="text-4xl font-bold text-white">Revolto Software</h2>
	
						<p class="max-w-xl mt-3 text-gray-300">
							Preencha os campos ao lado com suas credenciais de login para ter acesso total ao nosso site e todos os seus recursos. Curta nosso blog com as melhores dicas para a comunidade gamer, confira nossos lançamentos previstos, novidades e muito mais.
						</p>
					</div>
				</div>
			</div>
	
			<div class="flex items-center w-full max-w-md px-6 mx-auto lg:w-2/6">
				<div class="flex-1">
					<div class="text-center">
						<h2 class="text-4xl font-bold text-center text-white">Faça seu login</h2>
	
						<p class="mt-3 text-gray-300">preencha os campos abaixo para acessar sua conta</p>
					</div>
	
					<div class="mt-8">
						<form>
							<div>
								<label for="email" class="block mb-2 text-sm text-gray-200">Seu melhor e-mail</label>
								<input type="email" name="email" id="email" placeholder="exemplo@mail.com" class="block w-full px-4 py-2 mt-2 border rounded-lg text-white rounded border border-zinc-700 bg-zinc-800 focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
							</div>
	
							<div class="mt-6">
								<div class="flex justify-between mb-2">
									<label for="password" class="text-sm text-gray-200">Sua senha</label>
								</div>
	
								<input type="password" name="password" id="password" placeholder="************" class="block w-full px-4 py-2 mt-2 border rounded-lg text-white rounded border border-zinc-700 bg-zinc-800 focus:border-blue-400 focus:ring-blue-400 focus:outline-none focus:ring focus:ring-opacity-40" />
							</div>
	
							<div class="mt-6">
								<button class="w-full px-4 py-2 tracking-wide text-white transition-colors duration-300 transform bg-blue-500 rounded-lg hover:bg-blue-400 focus:outline-none focus:bg-blue-400 focus:ring focus:ring-blue-300 focus:ring-opacity-50">
									Entrar
								</button>
							</div>
	
						</form>
	
						<p class="mt-6 text-sm text-center text-gray-400">Não criou ainda uma conta? <a href="/signup" class="text-blue-500 focus:outline-none focus:underline hover:underline">Crie agora mesmo</a>.</p>
						<p class="mt-8 text-sm text-center">
							<a
								href="/home"
								class="text-blue-500 focus:outline-none focus:underline hover:underline"
								>Ir para a Homepage</a
							>.
						</p>
					</div>
				</div>
			</div>
		</div>
	</main>
</body>
</html>