.containerCadastro{
    margin-left: 25vw;
    margin-top: 25vh;
    border: 5px solid black;
    border-radius: 25px;
    height: 50vh;
    width: 50vw;
    background-color: rgba(250, 110, 110, 0.49);
    overflow: hidden;
}

.tituloForm{
    text-align: center;
    background-color: crimson;
    font-weight: bold;
    color: black;
    border-bottom: 5px solid black;
}