.containerHeader{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 20vh;
    border: 5px solid white;
    border-radius: 40px;
    background-color: red;
}

.logo{
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 3;
    left: 10%;
}

.navigationBar{
    display: grid;
    grid-column: 2 / span 5;
}

.navigationBarText{
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    top: 15%;
    right: 15%;
    text-align: center;
    word-spacing: 10vw;
    color: white;
    font-family: Gill Sans MT Condensed;
    font-size: 32px;
}

.containerMain{
    display: grid;
    position: absolute;
    height: 80vh;
    top: 25vh;
    left: 1vw;
    right: 1vw;
}

.containerContent{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    text-align: justified;
}

.imgContent{
    display: grid;
    position: absolute;
    grid-column: 1;
    grid-row: 1 / span 3;
    left: 5vw;
}

.contentTitle{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    color: red;
    font-family: Gill Sans MT Condensed;
    font-size: 48px;
}

.contentText{
    display: grid;
    grid-column: 2;
    grid-row: 2;
    color: black;
    font-family: Gill Sans MT Condensed;
    font-size: 24px;
}