.containerHeader{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 20vh;
}

.banner{
    display: grid;
    grid-column: 2 / span 3;
    grid-row: 1 / span 3;
    background-color: red;
    color: black;
}

.logo{
    display: grid;
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: aqua;
    color: black;
}

.navigationBar{
    display: grid;
    grid-column: 2 / span 3;
    grid-row: 3;
    background-color: rgb(0, 0, 255, 0.1);
}

.containerMain{
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    grid-template-columns: 1fr 8fr 1fr;
    height: 160vh;
}

.content{
    display: grid;
    grid-column: 2;
    background-color: cornflowerblue;
    color: black;
}

.ad1{
    display: grid;
    grid-column: 3;
    background-color: gray;
    color: black;
}

.relatedPosts{
    display: grid;
    grid-column: 1;
    background-color: pink;
    color: black;
}

.containerFooter{
    display: grid;
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    height: 20vh;
}

.links{
    background-color: darkseagreen;
    color: black;
    
}